/*
All CSS properties can be custom by changing values of vars
*/

:root {
    /* GENERAL */
    --general-page-side-padding: 20%;
}

@media screen and (min-width: 640px) and (max-width: 1000px) {
     :root {
        --general-page-side-padding: 10%;
    }
}

@media screen and (max-width: 640px) {
     :root {
        --general-page-side-padding: 5%;
    }
}

.disable-default-link a,
.disable-default-link a:hover,
.disable-default-link a:visited,
.disable-default-link a:focus,
.disable-default-link a:active {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Georgia", "Times New Roman", serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 10px var(--general-page-side-padding);
    height: 60px;
}

#header-logo-box {
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

#header-logo {
    height: 60px;
    width: 60px;
}

header a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 var(--general-page-side-padding);
    border-top: 1px solid lightgray;
    box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.75);
}

nav a {
    display: block;
    margin: 15px;
    color: rgb(96, 96, 96);
    transition: all 0.1s ease;
    text-decoration: none;
}

nav a:hover {
    color: rgb(48, 48, 48);
}

#wrapper {
    background: none;
    margin: 20px var(--general-page-side-padding);
    padding: 0;
    border-radius: 0;
    flex-grow: 1;
    /* for sticky footer */
}

#page {
    background: none;
    padding: 20px 0 0 0;
    border-radius: 0;
}

footer {
    background: black;
    padding: 20px var(--general-page-side-padding);
    display: block;
    /* to disable footer */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
}

pre code {
    border-radius: 4px;
    padding: 8px!important;
}

.error-block {
    padding: 20px;
    background-color: #cf2626;
    border-radius: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.postview {
    padding: 20px;
    border-radius: 20px;
    border: 2px solid grey;
    margin-bottom: 20px;
    background: white;
}

.postview a {
    color: black;
    text-decoration: underline;
}

#nopost {
    padding: 20px;
    border-radius: 20px;
    background: white;
    border: 2px solid grey;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.page-number-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-number {
    border: 2px solid grey;
    background: white;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    /* to center vertically */
    padding: 0 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 20px;
}

.pagination-button-container {
    cursor: pointer;
}

.pagination-button {
    background: white;
    border: 2px solid grey;
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-family: monospace;
    cursor: pointer;
}